/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ++++++++++++++++++++++++++ */
/* ++++++++ RESET CSS +++++++ */
/* ++++++++++++++++++++++++++ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
	width:1100px;
	margin: 0 auto;
	height:100%;
}
label:hover{
	cursor: pointer;
}
/* ++++++++++++++++++++++++++ */
/* +++++++++ HEADER +++++++++ */
/* ++++++++++++++++++++++++++ */
.page-header{
	height:50px;
	width:100%;
	background: #0c0c0c;
	color: #bcbcbc;
}
.page-header a{
	color:inherit;
}
.header-left{
	float:left;
	display:flex;
	height:100%;
}
.header-right{
	float:right;
	display:flex;
	height:100%;
	align-items:center;
	line-height:50px;
}
.page-nav ul{
	display:flex;
	align-items:center;
	height:100%;
	margin-left:0 0 0 5px;
}
.page-nav ul li{
	line-height: 50px;
}
.page-nav ul li::after{
	content:"|";
	margin-left:5px;
}
.page-logo{
	position:relative;
	width:60px;
}
.page-logo img{
	position:absolute;
	width:100%;
	/* z-index: 5; */
}
.page-nav ul li{
	margin:0 5px;
	text-transform: capitalize;
}
.page-nav a{
	text-decoration:none;
}
.page-nav ul li:last-child::after{
	content:" ";
}
.page-nav a:hover{
	color:#fff;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++ SEARCH FIELD +++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
.page-search{
	position:relative;
}
#page-search-field{
	position:absolute;
}
.page-search-field{
	width:950px;
	position:absolute;
	right:40px;
	top: -7px;
	font-size: 16px;
	font-weight:300;
	padding: 5px;
	height:30px;
	display:none;
}
.page-search-field-label{
	position:absolute;
	right:40px;
	top:-7px;
	height:30px;
	background:transparent;
	width:100px;
	line-height: 30px;
	color:#000;
	display:none;
}
#search-switcher:checked~.page-search-field{
	display:block;
}
#search-switcher:checked~.page-search-field-label{
	display:block;
}

.search-switcher-label{
	margin: 0 15px;
}
.international-edition{
	position:relative;
	height:100%;
	display:flex;
	align-items:center;

}
.international-edition .international-block{
	background: rgba(0,0,0,.9);
	color: #bcbcbc;
	position:absolute;
	top:50px;
	left:-70px;
	padding: 0 15px;
	box-sizing: border-box;
	display:none;	
}
#international-switcher:checked~.international-block{
	display:block;
}
.international-edition .international-block ul li{
	margin: 10px 10px;
	text-align:right;
	margin-bottom:20px;
	padding:0 15px 15px;
	width:170px;
	font-weight: 300;
}
.international-block hr{
	background:transparent;
	border:0;
	border-top:1px solid #bfbfbf;
}
.international-edition .international-block p{
	text-align: right;
	margin-top:20px;
	padding:15px;
}
.international-edition.flex-block{
	display:flex;
	padding:15px;
}
.international-edition .row-block.flex-block{
	justify-content: space-between;
	margin-top:20px;
	margin-bottom:15px;
}
.international-edition .row-block.flex-block label:nth-of-type(1){
	margin-right:auto;
}
.international-edition .row-block.flex-block input{
	margin-right:5px;
}
.international-edition .row-block.flex-block:nth-of-type(2){
	justify-content: flex-end;
}
.confirm{
	color: #bfbfbf;
	background:transparent;
	border: 1px solid #bfbfbf;
	padding:0 15px;
	height: 30px;
	line-height:30px;
	font-size:15px;
	font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++ HAMBURGER MENU +++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
.header-expanded-menu{
	/* position:relative; */
}
.expanded-top-block{
	padding:20px 0;
}
.header-expanded-menu-block{
	width:100vw;
	position:absolute;
	top:50px;
	left:0px;
	height:500px;
	background: rgba(0,0,0,.9);
	display:none;
}
#expanded-switcher:checked~.header-expanded-menu-block{
	display:block;
}
.header-expanded-menu-block .wrapper{
	width:1100px;
	margin: 0 auto;
	height:100%;
}
.col-2{
	padding:0 15 30 0;
}
.expanded-column h3{
	font-size:22px;
	padding: 10px 0;
	font-weight:300:
	color:#fff;
}
.expanded-column ul{
	font-size:13.5px;
	line-height:1.7;
	font-weight:300;
}

/* ++++++++++++++++++++++++++ */
/* ++++++++ HAMBURGER MENU -expanded bottom +++++++ */
/* ++++++++++++++++++++++++++ */
.expanded-bottom-block .international-block{
	/* box-sizing: border-box; */
	display:flex;
	align-items: center;
}
.expanded-bottom-block .international-block ul{
	font-size:15px;
	display:flex;
	
}
.expanded-bottom-block .international-block ul li img{
	width:30px;	
	margin-right:7.5px;
	margin-top:5px;
}
.expanded-bottom-block .international-block ul li{
	padding: 0 30px 0 5px;
	display:flex;
	align-items: center;
	
}
.expanded-bottom-block .international-block ul li:nth-of-type(3) img{
	width:70px;
}
.expanded-bottom-block p{
	font-size:13.125px;
	padding-right:15px;
}
.expanded-bottom-block .row-block{
	font-size:13.125px;
	padding-right:15px;
}

/* ++++++++++++++++++++++++++ */
/* ++++++++ MAIN +++++++ */
/* ++++++++++++++++++++++++++ */
main{
	padding-top:35px;
}
h1{
	font-size: 55.44px;
	color:#262626;
	font-weight: 500;
	line-height: 1.11;
	text-align: center;	
}
.image-block{
	position:relative;
}
article img{
	width:100%
}
.image-label{
	background: rgb(204, 0, 0);
	color:#fefefe;
	text-align:center;
	font-size: 12px;
	height: 40px;
	line-height:40px;
	font-weight: bold;
	width: auto;
	padding: 0 15px;
	text-transform: uppercase;	
	position:absolute;
	bottom:100%;
	left:0;
	white-space: no-wrap;
}
.label-block{
	position:absolute;
	left: 0;
	bottom:2px;
}
.bold{
	font-weight: bold;
}
article h3{
	font-size: 16px;
	line-height: 20px;
	color: rgb(38, 38, 38);
	margin: 7px 0;
}
article{
	margin-bottom:30px;
}
.last-news li{
	color:#262626;
	padding:7px 0;
	border-top: 1px solid #d9d9d9;
}
.last-news a{
	color:rgb(38, 38, 38);
	font-size:15px;
	font-weight: 300;
}
.play i{
	color:#a6a6a6;
	padding-left:7px;
}
.semi-grey{
	font-size:21px;
	font-weight:300;
	text-align: center;
	line-height: 1.2;
	background: #E6E6E6;
	margin:-23px 30px 0;
	padding:10px 10px 15px;
	position:relative;
	z-index: 100;
}
.category{
	font-weight: bold;
	color:#404040;
	padding:7px;
	background: #f2f2f2;
}
.middle-size{
	font-size:20px;
	font-weight: 300;
	line-height: 1.2;
}
.last-news li a{
	font-size:15px;
}
section{
	padding-top:15px;
}
.no-margin{
	margin:0;
	
}
.full-width-heading{
	background: #fafafad9;
	font-size: 30px;
	padding:7px 10px;
	font-weight: 300;
	line-height: 1.13;
	color: rgb(38, 38, 38);
	width: 100%;
}
.top-border{
	border-top: 1px solid #d9d9d9;
}
.small-size{
	font-size: 15px;
	font-weight: 300;
	line-height: 1.2;
}
.with-opacity {
	background: rgba(250, 250, 250, 0.85);
}
.section-heading {
	color: #262626;
	font-size: 24px;
	font-weight: 300;
	display: flex;
	align-items: center;
	white-space: nowrap;
	margin-bottom: 15px;
}
.section-heading:after {
	content: '.';
	font-size: 0;
	height: 9px;
	border-top: 4px solid #d9d9d9;
	border-bottom: 4px solid #d9d9d9;
	width: 100%;
	margin-left: 5px;
}

.dark-section {
	background: #1a1a1a;
	padding-top: 20px;
	padding-bottom: 20px;
}
.dark-section .section-heading:after{
	border-color: #c00;
}
.dark-section .image-label {
	background: #fff;
	color: #c00;
}
.dark-section .with-opacity {
	background: rgba(38, 38, 38, 0.85);
}
.dark-section h3 {
	color: #fff;
}

/* ++++++++++++++++++++++++++ */
/* ++++++++ FOOTER EXPANDED-TOP-BLOCK +++++++ */
/* ++++++++++++++++++++++++++ */
.page-footer{
	background: rgba(0,0,0,.9);	
	color: #bcbcbc;
}
.footer-top-block{
	width:1100px;
	margin:0 auto;
	padding-top:15px;
	display:flex;
	justify-content: space-between;
}
.footer-weather{
	display: flex;
	align-items: center;
}
.search-block{
	background: #262626;
	display:flex;
	align-items: center;
}
#footer-search{
	background:transparent;
	border:none;
	width:300px;
	height:30px;
}
.location{
	padding-right:15px;
}
.temp{
	padding-left:15px;
}
.page-footer h3{
	color: #bcbcbc;
	font-weight: 300;
}
.page-footer ul li a{
	color: #bcbcbc;
}

.page-footer .bottom-block .logo{
	width:45px;	
	/* margin-left:-10px;
	margin-top:70px; */

}
.logo-intl-ed{
	margin-top:50px;
	display:flex;
	align-items:center;
}
.international-edition-bottom{
	color: #bcbcbc;
	padding-left:10px;
	font-weight: 300;
	position:relative;
}
.international-block-bottom{
	position:absolute;
	top:-350px;
	right:-10px;
	width:230px;
	background: rgba(0,0,0,.9);
	margin-top:20px;
	padding:15px;
	height:300px;
	box-sizing: border-box;
	display:none;
}
#international-switcher-bottom:checked~.international-block-bottom{
	display:block;
}
.international-block-bottom p{
	padding: 10px 0;
}
.international-block-bottom .row-block-bottom{
	padding: 10px 0;
}
.international-block-bottom hr{
	background:transparent;
	border:0;
	border-top:1px solid #bfbfbf;
}

.international-block-bottom ul li{
	padding: 15px;
}
.confirm-bottom{
		color: #bfbfbf;
		background:transparent;
		border: 1px solid #bfbfbf;
		padding:0 15px;
		height: 30px;
		line-height:30px;
		font-size:15px;
		font-family: Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
}
.copyright{
	text-align: right;
	font-size: 12px;
	color:#595959;
	padding-bottom:5px;
}
.legal ul{
	font-size: 12px;
	display:flex;
	justify-content: flex-end;
	margin:15px 0;
}
.legal ul li a{
	color:#595959;
	padding-right:5px;
}
.legal ul li a:after{
	content:"|";
	color:#595959;
	padding-left:3px;
}
.legal ul li:last-of-type a:after{
	content:" ";
}












